@font-face {
  font-family: 'Parabole';
  src: url('Parabole.eot');
  src:
    local('Parabole'),
    url('Parabole.eot?#iefix') format('embedded-opentype'),
    url('Parabole.woff2') format('woff2'),
    url('Parabole.woff') format('woff'),
    url('Parabole.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #4dd0e1; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
} */
input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 500px;
}
/////

.allCategory {
  display: flex;
}
.productAll {
  display: flex;
}
.NoTextDecoration {
  text-decoration: none;
  color: #121214;
  font-family: 'IBM Plex Mono';
}
.NavBarText {
  display: flex;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  letter-spacing: '.01rem';
  color: 'inherit';
  text-decoration: 'none';
  margin-right: 5%;
}
.navbar,
.NODecorationButton {
  display: flex;
  height: 85px;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  font-size: 25px;
  letter-spacing: '.01rem';
  justify-content: space-between;
  text-decoration: 'none';
  align-items: center;
  color: #121214;
  padding: 10px;
}

.navbar > div {
  display: flex;
  align-items: center;
}

.center {
  flex-grow: 1;
  justify-content: center;
  font-family: 'Parabole';
  font-weight: 800;
  font-size: 55px;
  letter-spacing: '.01rem';
}

span {
  margin: 0 10px;
}

.NODecorationButton {
  background: none;
  border: 0px;
  cursor: pointer;
}

.bannerMainPage {
  height: 45%;
  width: 65%;
  z-index: 0;
}
.navSpan {
  cursor: pointer;
}
.top-string {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 62px;
  font-family: 'parabole';
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.top-string {
  top: -2%;
  left: 50%;
}

.center-string {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.cardTextCategory {
  text-decoration: none;
  border: 25px solid #ffa800;
  background-color: #ffa800;
  color: #121214;
  border-radius: 15px;
}
.mainPageFirstBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 55px;
}

.categoryCard {
}

/* Стиль Выпадающей Кнопки */
.dropbtn {
  background-color: #ffffff;
  color: #f1f1f1;
  padding: 16px;
  font-size: 25px;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #121214;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.dropdown:hover .dropbtn {
  background-color: #ffffff00;
}

.productCard {
  width: 350px;
  height: 250px;
}
