@font-face {
  font-family: 'Parabole';
  src: url('../public/fonts/parabole/Parabole.eot');
  src:
    local('../public/fonts/parabole/Parabole.eot'),
    url('Parabole.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/parabole/Parabole.woff2') format('woff2'),
    url('Parabole.woff') format('woff'),
    url('Parabole.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #4dd0e1; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
} */
input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 30px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 500px;
}
/////

.allCategory {
  display: flex;
}
.productAll {
  display: flex;
}
.NoTextDecoration {
  text-decoration: none;
  color: #121214;
  font-family: 'IBM Plex Mono';
}
.NavBarText {
  display: flex;
  font-weight: 700;
  letter-spacing: '.01rem';
  color: 'inherit';
  text-decoration: 'none';
  margin-right: 5%;
}
.navbar,
.NODecorationButton {
  display: flex;
  height: 85px;
  font-weight: 600;
  font-size: 25px;

  letter-spacing: '.01rem';
  justify-content: space-between;
  text-decoration: 'none';
  align-items: center;
  color: #121214;
  padding: 10px;
}
.NODecorationButton {
  font-family: 'IBM Plex Mono';
}
.navbar > div {
  display: flex;
  align-items: center;
}

.center {
  flex-grow: 1;
  justify-content: center;
  font-family: 'Parabole';
  font-weight: 800;
  font-size: 55px;
  letter-spacing: '.01rem';
}

span {
  margin: 0 10px;
}

.NODecorationButton {
  background: none;
  border: 0px;
  cursor: pointer;
}

.bannerMainPage {
  height: 45%;
  width: 65%;
  z-index: 0;
}
.navSpan {
  cursor: pointer;
}
.top-string {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 62px;
  font-family: 'parabole';
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.top-string {
  top: -2%;
  left: 50%;
}

.center-string {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.cardTextCategory {
  text-decoration: none;
  border: 25px solid #ffa800;
  background-color: #ffa800;
  color: #121214;
  border-radius: 15px;
}
.mainPageFirstBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 55px;
}

.categoryCard {
}

/* Стиль Выпадающей Кнопки */
.dropbtn {
  background-color: #ffffff;
  color: #f1f1f1;
  padding: 16px;
  font-size: 25px;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #121214;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.dropdown:hover .dropbtn {
  background-color: #ffffff00;
}

.spanCenter {
  font-family: 'Parabole';
}
.productCardMap {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.productAll {
  display: flex;
  flex-direction: column;
}
.product-card {
  display: flex;
  margin: 15px;
  width: 500px;
  height: 540px;
  background-color: #e6e6e6;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-image {
  display: block;
  width: 65%;
  position: relative;
  height: auto;
  align-items: center;
}
.product-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
}
.h2productCard {
  font-family: 'IBM Plex Mono';
  font-weight: 600;
}
.pProductCard {
}

.DecorationButtonByu {
  font-size: 15px;
  text-decoration: none;
  background-color: #ffa800;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
}
.DecorationButtonByu2 {
  font-size: 25px;
  text-decoration: none;
  background-color: #ffa800;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.textabout {
  margin-left: 20px;
}

.formButton {
  font-family: 'IBM Plex Mono';
  font-size: 35px;
  border: 0px;
  background-color: #ffa800;
  border-radius: 15px;
  cursor: pointer;
}

.registrationForm {
  margin-right: 5%;
  display: flex;
  background-color: #e6e6e6;
  width: 400px;
  height: 440px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preFoarm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4%;
  align-items: center;
}
.LoginForm {
  display: flex;
  background-color: #e6e6e6;
  width: 400px;
  height: 300px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addForm {
  display: flex;
  background-color: #e6e6e6;
  width: 400px;
  height: 480px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 45px;
}

.priceAndDelete {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  justify-content: space-around;
}

.NODecorationButtonCart {
  font-size: 15px;
  height: 25px;
  margin-top: 5px;
  text-decoration: none;
  background-color: #ffa800;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
}
.NODecorationButtonCart2 {
  width: 255px;
  height: 55px;
  font-size: 15px;
  text-decoration: none;
  background-color: #ffa800;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
}

.orderButtonDiv {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  bottom: 155px;
  left: 35px;
  width: 255px;
}
.black-line {
  top: 6;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: black;
  z-index: 9999; /* Можно настроить z-index в зависимости от вашего макета */
}
.swiper {
  width: 600px;
  height: 300px;
}
.img {
  width: 50%;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.productCardKonstructor {
  display: flex;
  height: auto;

  margin: 25px;
  flex-flow: column;
  place-content: space-around center;
  align-items: center;
  border: none;
  background-color: #e6e6e6;
  width: 25%;
}
.product-info {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.imgKonstructor {
  height: auto;
}

.Cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
